html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

*, *:before, *:after {
  box-sizing: border-box;
}


#whole-page-container {
  display: flex;
  /* justify-content: space-around; */
  /* flex-wrap: wrap;
  gap: 1rem; */
}

#options-sidebar-container {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  flex-basis: 10rem;
  flex-grow: 1;
}

#sidebar {
  margin-top: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  background-color: lightyellow;
}

#select-year-header {
  margin-top: 0.5em;
}

#options-sidebar-container label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: monospace;
  text-shadow: 0.5px 0.5px silver;
  /* display: flex; */
}

h2, form p {
  font-family: "kavoon";
  display: flex;
  justify-content: center;
  text-shadow: 0.5px 0.5px silver;
}

#d3-container {
  font-family: monospace;
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
  background-color: paleturquoise;
}


#year-slider-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  font-family: monospace;
}
#slider-ticks {
  display: flex;
  font-size: 10px;
  flex-direction: row;
  justify-content: space-around;
}

#slider-tick-values {
  font-family: monospace;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#year-slider {
  display: flex;
  justify-content: center;
  -webkit-appearance: none;
  margin-top: 0.7em;
  width: 90%;
  height: 6px;
  background: silver;
  outline: none;
  border: 1px solid black;
  opacity: 0.8;
  transition: opacity .2s;
  box-shadow: 3px 2px purple;
}

#year-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  background: royalblue;
  width: 0.6em;
  height: 1.2em;
  border-radius: 25%;
  border: 1px solid black;
}



// EDIT STARTS HERE

:root {
  --radio-filter-color: purple;
}

#filters-container {
  margin: 2px
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  margin: 1;
  font: inherit;
  width: 1.2em;
  height: 1.2em;
  border: 0.15em solid currentColor;
  border-radius: 25%;
  transform: translateY(-0.1em);
  display: grid;
  place-content: center;
  transition: opacity .1s;
}



input[type="radio"]::before {
  content: "";
  width: 0.80em;
  height: 0.80em;
  border-radius: 25%;
  transform: scale(0);
  transition: 140ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--radio-filter-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}



// EDIT STARTS HERE

#year-slider:hover {
  opacity: 1;
}

